/*  */
/*
Theme: https://docs.theme-park.dev/themes/ombi/
Docs: https://docs.ombi.app/info/common-themes/
*/
/*  */

/* import base dark theme */
@import url("https://theme-park.dev/css/base/ombi/dark.css");

/* Login page logo */
.logo-img {
    max-width: 500px!important;
    width: 320px;
    height: 320px;
  }

/* Username profile icon */
.profile-img img {
    opacity: 0;
  }
  .profile-img {
    background: url(https://raw.githubusercontent.com/KeyboardDabbler/skinCSS/main/assets/images/whiteFingerprint.png)!important;
    background-repeat: no-repeat!important;
    background-size: 100%!important;
    background-position: 50% 50%!important;
    height: 40px;
  }

/* Username profile mini-page avatar */
.small-middle-container.ng-star-inserted .d-flex img.profile-img {
    opacity: 0;
  }

  .small-middle-container.ng-star-inserted .d-flex {
    position: relative;
  }
  .small-middle-container.ng-star-inserted .d-flex:before {
      position: absolute;
      top: 0;
      left: 0;
      content: " ";
      width: 75px;
      height: 75px;
      background: url(https://raw.githubusercontent.com/KeyboardDabbler/skinCSS/main/assets/images/whiteFingerprint.png)!important;
      background-repeat: no-repeat!important;
      background-size: 100%!important;
      background-position: 50% 50%!important;
  }

/* Sidenav page title logo */
#nav-applicationName {
  font-size: 0!important;
    color: #fff;
    background: url(https://raw.githubusercontent.com/KeyboardDabbler/skinCSS/main/assets/branding/GBstreams-logo-dark.png)!important;
    background-repeat: no-repeat!important;
    background-size: 50%!important;
    background-position: 50% 50%!important;
}

/* Hide Ombi Donate */
.mat-nav-list .ng-star-inserted:nth-child(5n) {
    display: none!important;
}

/* Hide Ombi Feature */
.mat-nav-list .ng-star-inserted:nth-child(7n) {
    display: none!important;
}

/* Replace play on Jellyfin with play on GBstreams */
#viewOnJellyfinButton span {
    display: none;
}
    
#viewOnJellyfinButton:after {
    font-family: "Font Awesome 5 Free";
    content: "Play on GBstreams \f144";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight:900;
}

/* "Play on" button */
.viewon-btn.jellyfin {
    color: #ffffff!important;
    box-shadow: inset 0 0 0 1px #28a745!important;
    background-color: #28a745!important;
}

/* "Report !" button */
.fa-exclamation:before {
    color: red;
}

/* "Request +" button */
.fa-plus:before {
    color: #28a745;
}

.discover-filter-buttons-group .discover-filter-button {
  border-radius: 0px!important;
}
.discover-filter-buttons-group .button-active {
  color: #e5a00d!important;
}

/* Available indicators */
#availableBtn, .btn-green {
  background-color: #28a745!important;
}
#partiallyAvailableBtn {
  background: repeating-linear-gradient(
    329deg,
    #34bd54,
    #34bd54 20px,
    #28a745 20px,
    #28a745 40px
  );
  text-shadow: 1px 1px rgb(0 0 0 / 20%);
}

@media (max-width: 767px) {
  .vcenter {
    text-align: left!important;
    padding-left: 30px!important;
    padding-right: 30px!important;
  }
}

